<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  {% if page.description  %}
    <meta name="description " content="{{ page.description  }}">
  {% endif %}
  <link rel="shortcut icon" href="{{ site.favicon }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/font-awesome.css">
  <link rel="stylesheet" href="/public/js/prettify/prettify.css">
  <link rel="stylesheet" href="/public/css/base.css">
  <link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
          {{content}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>